@using Guestbook.Models
@model ChangePasswordModel

@using (Html.BeginForm())
{
        <div>
            <fieldset>
                <legend>Ваш Профиль</legend>
                @Html.EditorForModel()
                <p>
                    <input type="submit" value="Сменить пароль" />
                </p>
            </fieldset>
        </div>
}
